<<<<<<< HEAD
body {
    background-color: #1d1b1b;
}


.heading {
    color: red;
}

#paragraph {
    color: chartreuse;
=======
body {
    background-color: #1d1b1b;
}


.heading {
    color: red;
}

#paragraph {
    color: chartreuse;
>>>>>>> 146fa49860b511dfb1e20d264b421417841c8918
}